/* ---------- Global styles ----------- */

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f2ef;
}

hr {
    margin: 1rem 7%;
}


/* ---------- Navbar styles ----------- */

.navigation {
    background: #0a9488;
    background: linear-gradient(126deg, #0a9488 60%, #079f92 61%, #0ead9f 67%, #0a9488 68%, #0a9488 71%, #0ead9f 72%, #14c4b5 75%, #0a9488 76%);
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
}

.LogoContainer {
    width: 20rem;
    display: flex;
    align-items: center;
}

.Logo {
    width: 10rem;
}

.IProgramText {
    font-family: "Nunito", sans-serif;
    color: aliceblue;
    font-weight: 800;
    font-size: 20px;
}

.mediaAndLogin {
    display: flex;
    align-items: center;
}

.media {
    display: flex;
    list-style: none;
}

.mediaIcons {
    color: aliceblue;
    font-size: 1.7rem;
    margin: 0 0.7rem;
    transition: 200ms;
}

.mediaIcons:hover {
    color: #ff7b00;
}

.loginButton {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border: solid;
    border-color: #ff7b00;
    transition: 200ms;
    font-family: "Nunito", sans-serif;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
}

.loginButton:hover {
    background-color: #ff7b00;
    color: black;
}

.loginButton:active {
    box-shadow: 0px 0px 5px black;
    transition: 0ms;
}


/* ---------- Profile ----------- */

.mainInfo {
    margin: 1% 3% 1rem 3%;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px rgb(151, 151, 151);
    padding-bottom: 2rem;
    border-radius: 5px;
}

.bannerIMG {
    width: 100%;
}

.profilePhotoContainer {
    width: 12rem;
    background-color: #0a9488;
    border-radius: 100%;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}

.profilePhoto {
    width: 100%;
    border-radius: 100%;
}

.personalData {
    font-family: "Nunito", sans-serif;
    display: flex;
}

.mainName {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 32%;
    position: absolute;
    transform: translate(0px, -7rem);
}

.mainName h3 {
    font-size: 150%;
    margin-top: 1rem;
}

.mainName h4 {
    font-size: 120%;
}

.about {
    width: 65%;
    transform: translate(50%, 0rem);
    margin-top: 7rem;
}

.about h4 {
    font-size: 200%;
    margin: 0 10%;
}

.aboutText {
    margin: 0 10%;
    font-size: 110%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


/* ---------- Experiencia laboral ----------- */

.sectionsContainer {
    margin: 2rem 3%;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px #979797;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
    padding-bottom: 2rem;
}

.sectionsTitle {
    padding-top: 3rem;
    margin-left: 10rem;
}

.card {
    margin: 1rem 8%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.cardImageContainer {
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
}

.cardImage {
    width: 100%;
    height: 100%;
    text-align: justify;
}

.cardDetailsContainer {
    width: 60rem;
}

.cardTitle {
    font-style: italic;
    font-weight: 800;
}

.cardDescription {
    font-weight: 500;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/* ---------- skills ----------- */

.skillsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.progressContainer {
    width: 250px;
    height: 250px;
    position: relative;
}

.outerCircleProgress {
    height: 250px;
    width: 250px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerCircleProgress {
    height: 185px;
    width: 185px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 10px -2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillPercentage {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.progressMeter {
    position: absolute;
    transform: rotateZ(-90deg);
}

.progressColor {
    fill: none;
    position: absolute;
    stroke: url(#GradientColor);
    stroke-width: 35px;
    stroke-dasharray: 2240;
    stroke-dashoffset: 2000;
    animation: progressAnim 2000ms linear forwards;
}

@keyframes progressAnim {
    0% {
        stroke-dashoffset: 2680;
    }
}