/* ---------- Global styles ----------- */

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dae2e4;
}

hr {
    margin: 1rem 7%;
}


/* ---------- Navbar styles ----------- */

.navigation {
    background: #0a9488;
    background: linear-gradient(126deg, #0a9488 60%, #079f92 61%, #0ead9f 67%, #0a9488 68%, #0a9488 71%, #0ead9f 72%, #14c4b5 75%, #0a9488 76%);
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
}

.LogoContainer {
    width: 20rem;
    display: flex;
    align-items: center;
}

.Logo {
    width: 10rem;
}

.IProgramText {
    font-family: "Nunito", sans-serif;
    color: aliceblue;
    font-weight: 800;
    font-size: 20px;
}

.mediaAndLogin {
    display: flex;
    align-items: center;
}

.media {
    display: flex;
    list-style: none;
}

.mediaIcons {
    color: aliceblue;
    font-size: 1.7rem;
    margin: 0 0.7rem;
    transition: 200ms;
}

.mediaIcons:hover {
    color: #ff7b00;
}

.loginButton {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border: solid;
    border-color: #ff7b00;
    transition: 200ms;
    font-family: "Nunito", sans-serif;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
}

.loginButton:hover {
    background-color: #ff7b00;
    color: black;
}

.loginButton:active {
    box-shadow: 0px 0px 5px black;
    transition: 0ms;
}


/* ---------- Profile ----------- */

.banner {
    margin: 1% 2% 0rem 2%;
}

.bannerIMG {
    width: 100%;
}

.profilePhotoContainer {
    width: 12rem;
    position: absolute;
    background-color: #0a9488;
    border-radius: 100%;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    transform: translate(10rem, -6rem);
}

.profilePhoto {
    width: 100%;
    border-radius: 100%;
}

.personalData {
    font-family: "Nunito", sans-serif;
    margin: 8rem 2rem 1rem 2rem;
    display: flex;
}

.mainName {
    text-align: center;
    width: 32%;
}

.mainName h3 {
    font-size: 150%;
}

.mainName h4 {
    font-size: 120%;
}

.about {
    width: 65%;
}

.about h4 {
    font-size: 200%;
    margin: 0 10%;
}

.aboutText {
    margin: 0 10%;
    font-size: 110%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}